@import "~bootstrap/scss/bootstrap";

.wicustom {
    height: 35px;
    margin-right: 10px;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.mySlider {
    margin: 10px;
    width: 300px;
}

.mt20 {
    margin-top: 20px;
}


